<footer class="bg-dark">

  <div>

    <div class="row">

      <div class="col-md-2 links">

        <h5>Links</h5>

        <ul>

          <li><a href="#">Home</a></li>

          <li><a href="#">About</a></li>

          <li><a href="#">Menu</a></li>

          <li><a href="#">Contact</a></li>

        </ul>

      </div>

      <div class="col-md-3">

        <h5>Our Address</h5>

        <address>

          214, King Street West<br>

          Downtown, Toronto<br>

          ONTARIO<br>

          <i class="fa fa-phone"></i> Tel.: +416 1234 5678<br>

          <i class="fa fa-fax"></i> Fax: +416 8765 4321<br>

          <i class="fa fa-envelope"></i> Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>

        </address>

      </div>

      <div class="col-md-7 text-right">

        <div style="padding: 40px 10px;">

          <a class="icon-link google" href="http://google.com/+">
            <i class="fab fa-google-plus-square" aria-hidden="true"> </i>
          </a>

          <a class="icon-link facebook" href="http://www.facebook.com/profile.php?id=">
            <i class="fab fa-facebook-square" aria-hidden="true"> </i>
          </a>

          <a class="icon-link linkedin" href="http://www.linkedin.com/in/">
            <i class="fab fa-linkedin" aria-hidden="true"> </i>
          </a>

          <a class="icon-link twitter" href="http://twitter.com/">
            <i class="fab fa-twitter-square" aria-hidden="true"> </i>
          </a>

          <a class="icon-link youtube" href="http://youtube.com/">
            <i class="fab fa-youtube-square" aria-hidden="true"> </i>
          </a>

          <a class="icon-link mail" href="mailto:">
            <i class="fa fa-envelope-square" aria-hidden="true"> </i>
          </a>

        </div>

      </div>

      <div class="col-md-12 text-center">

        <p style="padding:10px;"></p>

        <p align=center>© Copyright 2015 Ristorante Il Fornello</p>

      </div>

    </div>

  </div>

</footer>
